.envelop {
    background-color: darkgrey;
    font-family: 'Amatic SC', cursive;
    header {
        position: fixed;
        width: 100%;
        background-color: darkgray;
        height: 150px;
        -webkit-box-shadow: 10px 10px 6px 0px rgba(122,120,122,1);
        -moz-box-shadow: 10px 10px 6px 0px rgba(122,120,122,1);
        box-shadow: 10px 10px 6px 0px rgba(122,120,122,1);
    }
    .div-1 {
        padding-top: 150px;
        display: flex;
        justify-content: flex-end;
        .left-panel {
            display: flex;
            flex-direction: column;
            position: fixed;
            right: 50px;
            width: 16%;
            padding: 1rem;
            .group-1 {
                display: flex;
                flex-direction: column;
                .quantity {
                    width: 60px;
                    border-radius: 5px;
                    border: 1px solid;
                }
            }
            .dd {
                font-size: 20px;
                margin-bottom: 10px;
                font-weight: bold;
            }
            select {
                width: 65px;
                border: 1px solid;
            }
            .desc {
                color: white;
            }
            .buy {
                cursor: pointer;
                padding: 0.5rem;
                background: white;
                border-radius: 5px;
            }
        }
        .rigth-panel {
            display: flex;
            flex-direction: column;
            padding-left: 3rem;
            max-width: 75%;
        }
    }
    app-menu {
        text-align: right;
        display: flex;
        z-index: 99999999999999;
        justify-content: flex-end;
    }
}
.hebrew {
    direction: rtl;
}

.left-usa {
    right: unset;
    left: 50px;
}

.padding-left-3rem {
    padding-right: 3rem !important;
    padding-left: 0 !important;
}



@media only screen and (max-width: 600px) {
    app-menu {
        position: absolute;
        right: 15px;
        top: 10px;
    }
    .envelop {
        height: unset;
    }
    img {
        width: 100%;
    }
    .div-1 {
        flex-direction: column;
        padding-top: 100px !important;
    }
    .left-panel, .rigth-panel {
        padding: 1rem;
    }
    .buy {
        background: white;
        margin-top: 8px;
    }
    .left-panel {
        position: unset !important;
        width: unset !important;
    }
    .rigth-panel {
        padding-left: 1rem !important;        
        max-width: unset !important;
    }
    header {
        height: 95px !important;
        z-index: 10000 !important;
    }
}