<div class="envelop" [ngClass]="{'hebrew': translateService.currentLanguage === languageEnum.English}">
    <div class="close-div">
      <h2>{{translateService.translate('confirm order')}}</h2>
      <img src="/assets/images/close.svg" (click)="close()"/>
    </div>
    <form>
    <div class="f-label">
        <div class="field-group">
            <div>{{translateService.translate('first name')}}</div>
            <input [(ngModel)]="fname" name="fname" (keydown)="disableError('fname')"/>
            <small [ngClass]="{'hide':fnameError}">{{translateService.translate('fname error')}}</small>
        </div>
        <div class="field-group">
            <div>{{translateService.translate('last name')}}</div>
            <input [(ngModel)]="lname" name="lname" (keydown)="disableError('lname')"/>
            <small [ngClass]="{'hide':lnameError}">{{translateService.translate('lname error')}}</small>
        </div>
    </div>
    <div class="f-label email">
        <div class="field-group">
            <div>{{translateService.translate('email')}}</div>
            <input class="email" [(ngModel)]="email" name="email" (keydown)="disableError('email')"/>
            <small [ngClass]="{'hide':emailError}" class="email">{{translateService.translate('email error')}}</small>
        </div>
    </div>
    <div class="f-label">
        <div class="field-group">
            <div>{{translateService.translate('phone number')}}</div>
            <input [(ngModel)]="phone" name="phone" (keydown)="disableError('phone')"/>
            <small [ngClass]="{'hide':phoneError}">{{translateService.translate('phone error')}}</small>
        </div>
        <div class="field-group">
            <div>{{translateService.translate('address')}}</div>
            <input [(ngModel)]="address" name="street" (keydown)="disableError('address')"/>
            <small [ngClass]="{'hide':addressError}">{{translateService.translate('address error')}}</small>
        </div>
    </div>
    <div class="but-div">
        <button (click)="send()">{{translateService.translate('send')}}</button>
    </div>
    </form>
</div>