div {
    background-color: #282828;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 30px;
    position: relative;
    span {
        font-family: 'Shadows Into Light', cursive;
        font-size: 13px;
        text-align: center;
        color: wheat;
    }
}