<div class="envelop">
  <header>
    <app-header></app-header>
    <app-menu (menuClickEvent)="itemMenuClicked($event)"></app-menu>
  </header>
  <div class="div-1" [ngClass]="{'hebrew': this.langService.currentLanguage === this.languageEnum.English}" *ngIf="orderService && orderService.cartOrderCounter">
    <section class="empty" *ngIf="orderService.cartOrderCounter.length === 0">{{langService.translate('Cart is empty!')}}</section>
    <section class="item" style="padding-top: 1rem;" *ngIf="orderService.cartOrderCounter.length > 0">
      <div><span>{{langService.translate('item')}}</span></div>
      <div class="img-div" style="padding: 0">
        <span>{{langService.translate('image')}}</span>
      </div>
      <div><span>{{langService.translate('quantity')}}</span></div>
      <div><span>{{langService.translate('size')}}</span></div>
      <div><span>{{langService.translate('price2')}}</span></div>
      <div><span>{{langService.translate('nothing')}}</span></div>
    </section>
    <section class="item" *ngFor="let item of orderService.cartOrderCounter">
      <div><span>{{item.name}}</span></div>
      <div class="img-div" style="padding: 0">
        <img class="img" [src]="_DomSanitizationService.bypassSecurityTrustUrl(item.mainPicture)"/>
      </div>
      <div><span>{{item.quantity}}</span></div>
      <div><span>{{item.choosedSize}}</span></div>
      <div *ngIf="langService.currentLanguage === languageEnum.Hebrew"><span>{{ parsePrice(item.price) * item.quantity}}</span><span>NIS</span></div>
      <div *ngIf="langService.currentLanguage === languageEnum.English"><span>{{ parsePrice(item.price) * item.quantity}}</span><span>₪</span></div>
      <div><img class="delete" src="/assets/images/trash.svg" (click)="removeItem(item)"/><span (click)="removeItem(item)" style="cursor: pointer;">{{langService.translate('delete')}}</span></div>
    </section>
    <section class="total">
      <div>{{langService.translate('Total: ')}}</div>
      <div *ngIf="langService.currentLanguage === languageEnum.Hebrew">{{orderService.total}} <span>NIS</span></div>
      <div >{{orderService.total}} <span>₪</span></div>
    </section>
    <section class="pay" (click)="toPayment()" [ngClass]="{'hebrew': this.langService.currentLanguage === this.languageEnum.English}">
      <img src="/assets/images/hand.svg"/>
      <div>{{langService.translate('To Payment :')}}</div>
    </section>
  </div>
</div>
