<div class="envelop">
  <div class="cadre">
    <ul class="cb-slideshow">
    <li>
      <span>Image 01</span>
      <div>
        <h3>fashion</h3>
      </div>
    </li>
    <li>
      <span>Image 02</span>
      <div>
        <h3>design</h3>
      </div>
    </li>
    <li>
      <span>Image 03</span>
      <div>
        <h3>casual</h3>
      </div>
    </li>
    <li>
      <span>Image 04</span>
      <div>
        <h3>luxury</h3>
      </div>
    </li>
    <li>
      <span>Image 05</span>
      <div>
        <h3>sensation</h3>
      </div>
    </li>
    <li>
      <span>Image 06</span>
      <div>
        <h3>euphoria</h3>
      </div>
    </li>
  </ul>
  </div>
</div>