img {
    position: absolute;
    width: 30%;
    left: -30px;
    top: -97px;
    z-index: 9999999999;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
   img {
    width: 84%;
    left: -42px;
    top: -66px;
   }
  }