<div class="envelop">
    <app-header></app-header>
    <app-menu (menuClickEvent)="itemMenuClicked($event)"></app-menu>
    <div class="div-1">
      <div class="title">
        <h1>{{langService.translate('Account')}}</h1>
      </div>
      <div class="table" [ngClass]="{'hebrew': this.langService.currentLanguage === this.languageEnum.English}">
        <section *ngIf="userModel">
          <div>{{langService.translate('first name')}}</div>
          <div>{{langService.translate('last name')}}</div>
          <div>{{langService.translate('email')}}</div>
          <div>{{langService.translate('phone number')}}</div>
          <div>{{langService.translate('address')}}</div>
        </section>
        <section *ngIf="userModel">
          <div>{{userModel.first_name}}</div>
          <div>{{userModel.last_name}}</div>
          <div>{{userModel.email}}</div>
          <div>{{userModel.phone}}</div>
          <div>{{userModel.address}}</div>
        </section>
      </div>
    </div>
    <div [ngClass]="{'hebrew': this.langService.currentLanguage === this.languageEnum.English}">
      <div  class="single-order" *ngFor="let order of myOrders">
        <div class="order-row">
          <div class="order-label">{{langService.translate('order date')}}</div>
          <div>{{order.date}}</div>
        </div>
        <div class="order-row">
          <div class="order-label">{{langService.translate('order status')}}</div>
          <div>{{order.status}}</div>
        </div>
        <div class="order-row">
          <div class="order-label">{{langService.translate('order total')}}</div>
          <div>{{order.total}}
              <span *ngIf="langService.currentLanguage === languageEnum.Hebrew">NIS</span>
              <span *ngIf="langService.currentLanguage === languageEnum.English">₪</span>              
          </div>
        </div>
        <div class="order-row"  >
          <div class="order-label">{{langService.translate('order details')}}</div>
          <div>
            <div *ngFor="let item of order.orderItem">{{item.name }} , {{item.price}} , {{item.choosedSize}} , {{item.choosedColor}} , {{item.quantity}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>