.envelop {
    background-color: darkgrey;
    min-height: 100%;
    padding: 2rem;
    .div-1 {
        padding-top: 100px;
        .title {
            text-align: center;
        }
        .table {
            display: flex;
            section {
                div {
                    padding: 1rem;
                }
            }
        }
    }
    app-menu {
        text-align: right;
        display: flex;
        z-index: 99999999999999;
        justify-content: flex-end;
    }
    .single-order {
        margin-bottom: 0.9rem;
        padding: 1rem;
        background-color: aliceblue;
        border-radius: 5px;
        .order-row {
            display: flex;
            justify-content: space-between;
            padding: 0.5rem;
            border: 1px black solid;
        }
        .order-label {
            font-weight: bold;
            color: blue;        
        }
    }
} 

@media only screen and (max-width: 600px) {
    app-menu {
        position: absolute;
        right: 15px;
        top: 10px;
    }
    .envelop {
        height: unset !important;
    }
}
.hebrew {
    direction: rtl;
    text-align: right;
}