<div class="envelop">
  <div class="circle">
    <span (click)="enterItem('Shoes')">Shirts & Tops</span>
  </div>
  <div class="circle">
      <span (click)="enterItem('Pants&Bottoms')">Pants & Bottoms</span>
  </div>
  <div class="circle">
      <span (click)="enterItem('Shirts&Tops')">Coats & Jackets</span>
  </div>
  <div class="circle">
      <span (click)="enterItem('Coats&Jackets')">Shirts & Tops</span>
  </div>
  <div class="circle">
      <span (click)="enterItem('Bags')">Dresses</span>
  </div>
  <div class="circle">
      <span (click)="enterItem('Bags')">Bags</span>
  </div>
  <div class="circle">
      <span (click)="enterItem('Accessories')">Accessories</span>
  </div>
</div>
