<div class="envelop">
  <div class="circle">
    <span (click)="enterItem('Shirts&Tops')">Shirts & Tops</span>
  </div>
  <div class="circle">
      <span (click)="enterItem('Pants&Bottoms')">Pants & Bottoms</span>
  </div>
  <div class="circle">
      <span (click)="enterItem('Coats&Jackets')">Coats & Jackets</span>
  </div>
  <div class="circle">
      <span (click)="enterItem('Dresses')">Dresses</span>
  </div>
  <div class="circle">
      <span (click)="enterItem('Shoes&Bags')">Shoes & Bags</span>
  </div>
  <div class="circle">
      <span (click)="enterItem('Accessories')">Accessories</span>
  </div>
</div>
